::-webkit-scrollbar {
  display: none;
}

.topmenu {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
}

.topmenu_link {
  position: relative;
  float: right;
  font-family: Montserrat;
  margin: 0px 20px 0px 20px;
  padding: 0px 50px 0px 50px;
  color: #000;
  text-decoration: none;
}

.topmenu_link:hover {
  cursor: pointer;
  transition: 1s;
}

.toplogo {
  position: fixed;
  margin: 10px;
  left: 10px;
  font-family: Satisfy;
  font-size: 30px;
}

/* Home page */

.landinghome {
  position: absolute;
  width: 100%;
  height: 500px;
  text-align: center;
  z-index: 9;
  top: 15vw;
  left: 0;
}

.cutout {
  width: 30%;
  /* top: 200px; */
  display: block;
  margin: auto;
  z-index: 10;
}

.landing_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
