body {
  opacity: 1;
  transition: 1s opacity;
  display: flex;
  flex-direction: column;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aeaeae;
  transition: 0.5s;
}

.header {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0;
  top: 0;
  text-align: center;
}

.header p {
  position: relative;
  font-family: brusher;
  font-size: 38px;
  margin: 30px 20px 10px 20px;
}

.headerLine {
  position: relative;
  margin: auto;
  height: 1px;
  width: 500px;
  background-color: #000000;
  margin-bottom: 15px;
}

.menu {
  position: relative;
  font-family: Montserrat;
}

.menu a {
  text-decoration: none;
  position: relative;
  color: #000;
  margin: 10px 25px 0px 25px;
}

.menu a:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  bottom: 0;
  margin: auto;
  left: -10px;
  right: -10px;
  background-color: #606060;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #606060;
}

.menu a:hover {
  color: #606060;
  cursor: pointer;
}

.footer {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  border-top: 1px solid #aeaeae;
}

/* index.html */
.landing {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  top: 180px;
}

.landingText {
  position: relative;
  width: 450px;
  margin: 70px;
  left: 60px;
  overflow: hidden;
  background-color: #ffffff80;
  z-index: 10;
  padding-left: 20px;
}

.landingTitle {
  font-family: brusher;
  font-size: 32px;
}

.landingPara {
  font-family: Montserrat;
  font-size: 18px;
}

.landingImage {
  position: absolute;
  width: 500px;
  right: 130px;
  top: 30px;
}

.orderBox {
  position: absolute;
  width: 100%;
  height: 370px;
  left: 0;
  top: 600px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.orderTitle {
  font-family: brusher;
  font-size: 28px;
}

.itemBox {
  position: absolute;
  width: 1000px;
  height: 220px;
  top: 90px;
}

.orderpageLink {
  position: absolute;
  top: 340px;
  color: #000;
  text-decoration: none;
  font-family: Montserrat;
}

.item {
  position: relative;
  height: 220px;
  width: 200px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 0px 25px 0px 25px;
  float: left;
  box-shadow: 0px 1px 10px 1px #AEAEAE;
}

.item:hover {
  box-shadow: 10px 20px 40px #AEAEAE;
  transition: 0.5s;
  cursor: pointer;
}

.itemImg {
  position: absolute;
  width: 180px;
  top: 10px;
}

.itemTitle {
  position: absolute;
  top: 130px;
  font-family: brusher;
  font-size: 20px;
}

.itemPrice {
  position: absolute;
  top: 170px;
  font-family: Montserrat;
  font-size: 13px;
}

.eventsBox {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 1000px;
  left: 0;
}

.eventImg {
  position: absolute;
  width: 500px;
  left: 110px;
  margin: 20px;
  top: 30px;
}

.eventTitle {
  position: absolute;
  margin: 20px;
  left: 670px;
  top: 100px;
  font-family: brusher;
  font-size: 32px;
}

.eventPara {
  position: absolute;
  margin: 20px;
  font-family: Montserrat;
  font-size: 18px;
  left: 670px;
  top: 170px;
}

/* order.html */

.filterBox {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 200px;
  left: 7rem;
}

.filterTitle {
  position: absolute;
  font-family: Montserrat;
}

.filterLinks {
  position: absolute;
  font-family: Montserrat;
  top: 50px;
  width: 200px;
  height: 250px;
  border-top: .5px solid #aeaeae;
}

.filterLinks a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 10px;
  height: 30px;
  width: 50px;
}

.filterLinks a:hover {
  color: #606060;
  cursor: pointer;
}

.products {
  position: absolute;
  width: 900px;
  height: 600px;
  left: 22rem;
  top: 200px;
}

.orderpageItem {
  position: relative;
  height: 242px;
  width: 220px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 0px 25px 30px 25px;
  float: left;
  box-shadow: 0px 1px 10px 1px #AEAEAE;
}

.orderpageItem:hover {
  box-shadow: 10px 20px 40px #AEAEAE;
  transition: 0.5s;
  cursor: pointer;
}

.orderpageitemImg {
  position: absolute;
  width: 198px;
  top: 10px;
}

.orderpageitemTitle {
  position: absolute;
  top: 143px;
  font-family: brusher;
  font-size: 22px;
}

.orderpageitemPrice {
  position: absolute;
  top: 187px;
  font-family: Montserrat;
  font-size: 14px;
}

/* events.html */
.eventCard {
  position: absolute;
  width: 300px;
  height: 500px;
  border: 1px solid #fff;
  background-color: #f7f7f7;
  border-radius: 20px;
  left: 100px;
  top: 100px;

  box-shadow:
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
}

/* contact.html */
.contactbox {
  position: absolute;

}
