body {
  opacity: 1;
  transition: 1s opacity;
  display: flex;
  flex-direction: column;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.header {
  position: absolute;
  width: 100vw;
  height: 150px;
  left: 0;
  top: 0;
  text-align: center;
}

.header p {
  position: relative;
  font-family: Satisfy;
  font-size: 38px;
  margin: 30px 20px 10px 20px;
}

.headerLine {
  position: relative;
  margin: auto;
  height: 1px;
  width: 500px;
  background-color: #000000;
  margin-bottom: 15px;
}

.menu {
  position: relative;
  font-family: Montserrat;
}

.menu a {
  text-decoration: none;
  position: relative;
  color: #000;
  margin: 10px 25px 0px 25px;
}

.menu a:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  bottom: 0;
  margin: auto;
  left: -10px;
  right: -10px;
  background-color: #606060;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: #606060;
}

.menu a:hover {
  color: #606060;
  cursor: pointer;
}

/* index.html */
.landing {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  top: 180px;
}

.landingText {
  position: relative;
  width: 450px;
  margin: 70px;
  left: 60px;
  overflow: hidden;
  background-color: #ffffff80;
  z-index: 10;
  padding-left: 20px;
}

.landingTitle {
  font-family: Satisfy;
  font-size: 32px;
}

.landingPara {
  font-family: Montserrat;
  font-size: 18px;
}

.landingImage {
  position: absolute;
  width: 500px;
  right: 130px;
  top: 30px;
}

.orderBox {
  position: absolute;
  width: 100%;
  height: 430px;
  left: 0;
  top: 600px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.orderTitle {
  font-family: Satisfy;
  font-size: 28px;
}

.itemBox {
  position: absolute;
  background-color: lightblue;
  width: 1000px;
  height: 250px;
  top: 80px;
}

.orderpageLink {
  position: absolute;
  top: 370px;
  color: #000;
  text-decoration: none;
  font-family: Montserrat;
}

.item {
  position: relative;
  height: 250px;
  width: 200px;
  overflow: hidden;
  background-color: blue;
}

.itemImg {
  position: absolute;
  width: 180px;
  margin: 10px;
}

.itemTitle {
  position: absolute;
  
}
